<div class="geoboost__pagination">
    <div class="geoboost__pagenav">
        <ul>
            <li>
                <button class="begining" disabled="">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <g id="Icons/24/First-page">
                            <path id="Vector (Stroke)" fill-rule="evenodd" clip-rule="evenodd"
                                  d="M16.9427 6.21216C17.2673 6.51184 17.2876 7.01797 16.9879 7.34263L12.6888 12L16.9879 16.6574C17.2876 16.982 17.2673 17.4881 16.9427 17.7878C16.618 18.0875 16.1119 18.0673 15.8122 17.7426L11.0122 12.5426C10.7293 12.2362 10.7293 11.7638 11.0122 11.4574L15.8122 6.25738C16.1119 5.93272 16.618 5.91248 16.9427 6.21216Z"
                                  fill="#6C7B93"></path>
                            <path id="Vector (Stroke)_2" fill-rule="evenodd" clip-rule="evenodd"
                                  d="M11.9427 6.21216C12.2673 6.51184 12.2876 7.01797 11.9879 7.34263L7.68877 12L11.9879 16.6574C12.2876 16.982 12.2673 17.4881 11.9427 17.7878C11.618 18.0875 11.1119 18.0673 10.8122 17.7426L6.01221 12.5426C5.72933 12.2362 5.72933 11.7638 6.01221 11.4574L10.8122 6.25738C11.1119 5.93272 11.618 5.91248 11.9427 6.21216Z"
                                  fill="#6C7B93"></path>
                        </g>
                    </svg>
                </button>
            </li>
            <li>
                <button class="prev" disabled="">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <g id="Icons/24/Chevron-left">
                            <path id="Vector (Stroke)" fill-rule="evenodd" clip-rule="evenodd"
                                  d="M13.9427 6.21216C14.2673 6.51184 14.2876 7.01797 13.9879 7.34263L9.68877 12L13.9879 16.6574C14.2876 16.982 14.2673 17.4881 13.9427 17.7878C13.618 18.0875 13.1119 18.0673 12.8122 17.7426L8.01221 12.5426C7.72933 12.2362 7.72933 11.7638 8.01221 11.4574L12.8122 6.25738C13.1119 5.93272 13.618 5.91248 13.9427 6.21216Z"
                                  fill="#6C7B93"></path>
                        </g>
                    </svg>
                </button>
            </li>
            <li class="active">
                <button href="/search-pages?page=1">1</button>
            </li>
            <li class="">
                <button href="/search-pages?page=2">2</button>
            </li>
            <li class="">
                <button href="/search-pages?page=3">3</button>
            </li>
            <li class="">
                <div class="dots">
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
            </li>
            <li class="">
                <button href="/search-pages?page=559">559</button>
            </li>

            <li>
                <button class="next" href="/search-pages?page=2">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <g id="Icons/24/Chevron-right">
                            <path id="Vector (Stroke)" fill-rule="evenodd" clip-rule="evenodd"
                                  d="M10.0573 6.21216C9.73268 6.51184 9.71243 7.01797 10.0121 7.34263L14.3112 12L10.0121 16.6574C9.71243 16.982 9.73268 17.4881 10.0573 17.7878C10.382 18.0875 10.8881 18.0673 11.1878 17.7426L15.9878 12.5426C16.2707 12.2362 16.2707 11.7638 15.9878 11.4574L11.1878 6.25738C10.8881 5.93272 10.382 5.91248 10.0573 6.21216Z"
                                  fill="#6C7B93"></path>
                        </g>
                    </svg>
                </button>
            </li>
            <li>
                <button class="intheend" href="/search-pages?page=559">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <g id="Icons/24/Last-page">
                            <path id="Vector (Stroke)" fill-rule="evenodd" clip-rule="evenodd"
                                  d="M7.05734 6.21216C6.73268 6.51184 6.71243 7.01797 7.01212 7.34263L11.3112 12L7.01212 16.6574C6.71243 16.982 6.73268 17.4881 7.05734 17.7878C7.38199 18.0875 7.88812 18.0673 8.1878 17.7426L12.9878 12.5426C13.2707 12.2362 13.2707 11.7638 12.9878 11.4574L8.1878 6.25738C7.88812 5.93272 7.38199 5.91248 7.05734 6.21216Z"
                                  fill="#6C7B93"></path>
                            <path id="Vector (Stroke)_2" fill-rule="evenodd" clip-rule="evenodd"
                                  d="M12.0573 6.21216C11.7327 6.51184 11.7124 7.01797 12.0121 7.34263L16.3112 12L12.0121 16.6574C11.7124 16.982 11.7327 17.4881 12.0573 17.7878C12.382 18.0875 12.8881 18.0673 13.1878 17.7426L17.9878 12.5426C18.2707 12.2362 18.2707 11.7638 17.9878 11.4574L13.1878 6.25738C12.8881 5.93272 12.382 5.91248 12.0573 6.21216Z"
                                  fill="#6C7B93"></path>
                        </g>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</div>